useDynLib(cBar2, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(data.table)
import(blupADC)
import(Rcpp)
import(RcppArmadillo)
import(bigmemory)
export(allele_tracing)
export(makeA_partial)
export(makeAinv_partial)
export(makeHAinv_partial)
export(makeHA_partial)
export(makeGA_partial)
export(makeGAinv_partial)
